.media {
  position: relative;
  visibility: hidden;

  max-width: var(--asset-width);
  min-width: var(--asset-width);

  max-height: var(--asset-height);
  min-height: var(--asset-height);

  &.-active {
    visibility: visible;
  }
}

.time {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: white;
  background-color: black;
  padding: 4px 8px;
  border-radius: 8px;
}
