.media-wrapper {
  position: absolute;
}

.playback-wrapper {
  position: relative;
  max-width: var(--asset-width);
  min-width: var(--asset-width);

  max-height: var(--asset-height);
  min-height: var(--asset-height);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.media-animate-out-in {
  animation: fade-out-in 3s linear 0s forwards;
}

@keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.75;
  }
  35% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
